name: Combined CI / Release

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  shared_ci_cd:
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write

    uses: mu88/common/.github/workflows/ci-cd.yml@41211ccf6073933dffcf58c29b43a3462c081d1a
    with:
      docker-attest-provenance-and-sbom: true
      docker-publish-project: src/PasswordTrainer/PasswordTrainer.csproj
      sonar-additional-params: ' ' # the default params require Code Coverage calculation and Sonar properties, which we do not have yet
      sonar-key: mu88_PasswordTrainer
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
