name: Combined CI / Release

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  shared_ci_cd:
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write

    uses: mu88/github-actions/.github/workflows/ci-cd.yml@0213ed5565c48d2c19f9d2588dc49a79c4339a33
    with:
      docker-attest-provenance-and-sbom: true
      docker-publish-project: src/PasswordTrainer/PasswordTrainer.csproj
      sonar-additional-params: ' ' # the default params require Code Coverage calculation and Sonar properties, which we do not have yet
      sonar-key: mu88_PasswordTrainer
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
